// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$color-primero: #0F1739;
$color-segundo: #BBB6D4;
$color-tercero: #3B3F64;
$color-cuarto: #e8eef7;
$color-quinto: #757191;
$color-sexto: #4e598d;
$color-septimo: #918cac;
$color-octavo: #4862d3;
